@import 'variables';

div.static_pages{
    h1{
        color: $red;
    }
    form{
        margin-top: 20px;
        border: 1px solid $dark-gray;
        max-width: 500px;
        padding: 15px;
        border-radius: 8px;
    }
}